body {
  margin-left: 32px;
  margin-right: 32px;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 41px 0px 41px 0px;
}

.burger-menu {
  width: 24px;
  color: #999999;
}

.pinktext {
  width: 274px;
  color: #ff3998;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.headline {
  width: 354px;
  height: 116px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #111111;
}

.text-under-headline {
  width: 274px;
  height: 120px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #555555;
}
.graphic {
  position: absolute;
  width: 480px;
  left: 230px;
  top: 30px;
}
button {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(40deg, #ff3998, #ff8139, #39ff8c);
  background-origin: border-box;
  border-radius: 50px;
  box-shadow: 2px 1000px 1px #fff inset;
  border: solid 3px transparent;
  width: 188px;
  height: 70px;
  font-family: "inter", sans-serif;
  font-weight: 600;
  size: 20px;
  line-height: 30px;
  align-items: center;
}

.section2 {
  background-image: url(./assets/background.svg);
  background-repeat: no-repeat;
  padding-left: 42px;
  background-size: cover;
  margin-left: -50px;
  margin-right: -50px;
}

.section2 h1 {
  font-family: "inter", sans-serif;
  font-weight: 500;
  size: 40px;
  line-height: 48px;
  padding-top: 100px;
  width: 264px;
}

.section2 h2 {
  font-family: "inter", sans-serif;
  font-weight: 400;
  size: 20px;
  line-height: 30px;
  width: 364px;
  padding-bottom: 37px;
}

.section3 {
  display: grid;
  text-align: center;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.grid-item-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-item-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid-item-3 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.grid-item-5 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.section3 img {
  padding-bottom: 20px;
}

.cropped {
  object-fit: cover;
  object-position: 78px;
  margin-left: -75px;
}

.hidden {
  display: none;
}

.section4 {
  display: block;
}

.section4 h1 {
  font-family: "inter", sans-serif;
  font-weight: 500;
  size: 40px;
  line-height: 48px;
}

.section4 p {
  font-family: "inter", sans-serif;
  font-weight: 400;
  size: 20px;
  line-height: 30px;
}
.section4 a {
  color: #555555;
}

.container {
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 100px;
  /* overflow-x: hidden; */
}

.shopping {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.shopping p {
  margin: 0%;
  color: #777777;
}

.shop-item-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-left: 20px;
  padding-top: 7px;
}
.shop-item-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 7px;
}

.shop-item-3 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 20px;
  padding-top: 7px;
}
.shop-item-4 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  padding-left: 60px;
  padding-top: 7px;
}

.shop-item-5 {
  grid-column: 1/2;
  grid-row: 3/4;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 7px;
}
.shop-item-6 {
  grid-column: 2/3;
  grid-row: 3/4;
  padding-left: 70px;
  padding-right: 20px;
  padding-top: 7px;
}
.eth {
  max-width: 13px;
  max-height: 22px;
  display: inline;
}

.div1 {
  display: inline-block;
  height: 380px;
  width: 290px;
  border-radius: 25px;
  background-color: #eeeeee;
  margin-right: 20px;
  margin-left: 20px;
}
.container div:first-child {
  margin-left: 0;
}

.div1 img {
  height: 280px;
  width: 290px;
}
.section5 hr:nth-of-type(odd) {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #eeeeee;
}
.section5 hr:nth-of-type(2) {
  margin-top: 0;
  margin-bottom: -20px;
}

.upsell-footer-image {
  position: absolute;
  width: 172px;
  left: 360px;
  top: 1900px;
}

.icons {
  color: #999999;
}

.icons i {
  padding: 8px;
}

table,
th,
td {
  /* border: 1px solid black; */
  width: 130px;
  padding-top: 10px;
  text-align: left;
  table-layout: fixed;
}

.table-font {
  font-family: "inter", sans-serif;
  font-weight: 400;
  size: 20px;
  line-height: 20px;
}

.copyright {
  font-family: "inter", sans-serif;
  font-weight: 400;
  size: 20px;
  line-height: 20px;
  color: #999999;
  margin-top: 40px;
  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  body {
    margin-left: 80px;
    margin-right: 80px;
  }
  header {
    padding-bottom: 200px;
  }

  .hidden {
    display: inline;
  }
  .burger-menu {
    display: none;
  }

  nav a {
    text-decoration: none;
    font-family: "inter", sans-serif;
    font-weight: 400;
    size: 20px;
    line-height: 20px;
    color: #555555;
    padding-left: 14px;
    padding-left: 14px;
  }

  nav a:last-child {
    color: #ff3998;
  }

  .section1 {
    padding-bottom: 150px;
  }
  .graphic {
    position: absolute;
    width: 630px;
    left: 650px;
    top: 205px;
  }

  .section2 h1 {
    width: 100vw;
    padding-top: 160px;
  }
  .section2 h2 {
    width: 100vw;
  }
  .section2 {
    margin: 0;
    max-width: 100%;
  }

  .cropped {
    object-fit: none;
    object-position: 0px;
    margin-left: 0px;
  }
  .section3 {
    display: grid;
    text-align: center;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .grid-item-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .grid-item-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .grid-item-3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .grid-item-4 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .grid-item-5 {
    grid-column: 5/6;
    grid-row: 1/2;
  }

  .upsell-footer-image {
    position: absolute;
    width: 155px;
    left: 930px;
    top: 1910px;
  }

  .headline {
    width: auto;
    height: 0%;
  }
  .text-under-headline {
    width: 537px;
    height: 0%;
  }

  .section5 hr:nth-of-type(2) {
    display: none;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-1 {
    grid-column: 1/2;
  }
  .grid-2 {
    grid-column: 3/4;
  }
  .grid-3 {
    grid-column: 4/5;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
